<div class="container">
  {{> admin-navbar}}
  <div class="d-flex justify-content-center">
    <div class="w-75">
      <h3>Order /</h3>
      <table class="table text-center" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 20%;">日期</th>
            <th scope="col" style="width: 20%;">合計</th>
            <th scope="col" style="width: 20%;">用戶</th>
            <th scope="col" style="width: 15%;">訂單狀態</th>
            <th scope="col" style="width: 15%;"></th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr style="line-height: 3.5em;">
              <th scope="row"><a href="/accounts/{{user.id}}/orders/{{this.id}}">{{this.id}}</a></th>
              <td>{{displayDate this.createdAt}}</td>
              <td>NT$ {{this.total}}</td>
              <td>{{this.User.name}}</td>
              <td>{{this.status}}</td>
              <td><a href="/accounts/{{user.id}}/orders/{{this.id}}">查閱</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>