<div class="container">
  {{> admin-navbar}}
  <div class="d-flex justify-content-center">
    <div class="w-75">
      <h3>訂單詳細資料 /</h3>
      <p class="d-flex justify-content-between mt-4">
        <span>訂單 #{{order.id}}</span>
        <span>成立日期 {{displayDate order.createdAt}}</span>
      </p>
      <table class="order-detail-table table text-center" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="width: 80%;">商品</th>
            <th scope="col" class="text-end" style="width: 20%;">小計</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.OrderedProducts}}
          <tr>
            <th scope="row">{{this.Product.name}}</th>
            <td>NT$ {{this.amount}}</td>
          </tr>
          {{/each}}
          <tr>
            <th scope="row">運費：</th>
            <td>NT$ {{order.ShipmentMethod.fee}}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">總計：</th>
            <td>NT$ {{order.total}}</td>
          </tr>
          <tr>
            <th scope="row">運送方式：</th>
            <td class="d-flex flex-column">
              {{order.ShipmentMethod.name}}</br>
              {{order.ShipmentDetail.address}}
            </td>
          </tr>
          <tr>
            <th scope="row">訂單狀態：</th>
            <td>{{order.status}}</td>
          </tr>
        </tfoot>
      </table>
      <div>
        <a href="javascript:history.back()" class="btn btn-outline-secondary">返回</a>
      </div>
    </div>
  </div>
</div>