<div class="container">
  {{> admin-navbar}}
  <div class="row">
    <div class="col-md-12">
      <h1>{{product.name}}</h1>
    </div>
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{product.image}}"
        style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Brand:</strong> {{product.Brand.name}}</li>
          <li><strong>Price:</strong> NT$ {{product.price}}</li>
          <li>[{{product.Category.name}}]</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <strong>Description:</strong>
      <p style="white-space: break-spaces;">{{product.description}}</p>
    </div>
    <hr>
  </div>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>