<div class="container">
  {{> navbar}}
  <div class="d-flex">
    <nav class="nav nav-pills flex-column col-2">
      <a class="nav-link active my-2" aria-current="page" href="/accounts/{{user.id}}/orders">訂單</a>
      <a class="nav-link my-2" href="#">帳號資料</a>
    </nav>
    <div class="col-10 ps-5">
      <h3>訂單詳細資料 /</h3>
      <p class="d-flex justify-content-between mt-4">
        <span>訂單 #{{order.id}}</span> 
        <span>成立日期 {{displayDate order.createdAt}}</span>
      </p>
      <table class="order-detail-table table text-center" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="width: 80%;">商品</th>
            <th scope="col" class="text-end" style="width: 20%;">小計</th>
          </tr>
        </thead>
        <tbody>
          {{#each order.OrderedProducts}}
            <tr>
              <th scope="row">{{this.Product.name}}</th>
              <td>NT$ {{this.amount}}</td>
            </tr>
          {{/each}}
          <tr>
            <th scope="row">運費：</th>
            <td>NT$ {{order.ShipmentMethod.fee}}</td>
          </tr>
        </tbody>
        <tfoot class="table-group-divider">
          <tr>
            <th scope="row">總計：</th>
            <td>NT$ {{order.total}}</td>
          </tr>
          <tr>
            <th scope="row">運送方式：</th>
            <td class="d-flex flex-column">
              {{order.ShipmentMethod.name}}</br>
              {{order.ShipmentDetail.address}}
            </td>
          </tr>
          <tr>
            <th scope="row">訂單狀態：</th>
            <td>
              {{#ifCond order.paymentStatus '1'}}已付款{{/ifCond}}
              {{#ifCond order.paymentStatus '0'}}
                <a href="/orders/{{user.id}}/{{order.id}}/payment" class="text-secondary">待付款</a>
              {{/ifCond}}
            </td>
            </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>