<div class="form-row mb-3">
  <label class="form-label" for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" value="{{product.name}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="price">Price</label>
  <input class="form-control" type="number" name="price" id="price" value="{{product.price}}" required>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="brandId">品牌</label>
  <select class="form-control" id="brandId" name="brandId">
    {{#each brands}}
      <option value="{{this.id}}" {{#ifCond this.id ../product.brandId}}selected{{/ifCond}}>{{this.name}}</option>
    {{/each}}
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="categoryId">Category</label>
  <select class="form-control" id="categoryId" name="categoryId">
    {{#each categories}}
      <option value="{{this.id}}" {{#ifCond this.id ../product.categoryId}}selected{{/ifCond}}>{{this.name}}</option>
    {{/each}}
  </select>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="description">Description</label>
  <textarea class="form-control" type="text" name="description" id="description">{{product.description}}</textarea>
</div>
<div class="form-row mb-3">
  <label class="form-label" for="image">Image</label>
  <input class="form-control form-control-file" type="file" name="image" id="image">
</div>
<button type="submit" class="btn btn-primary">提交</button>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>