<nav class="navbar navbar-expand-lg bg-white pt-4 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">Apparel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item ms-2">
          <a class="nav-link" href="/products/new">New Arrival</a>
        </li>
        <li class="nav-item dropdown ms-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each categories}}
              <li><a class="dropdown-item" href="/products/categories/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="nav-item dropdown ms-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Brands
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#each brands}}
              <li><a class="dropdown-item" href="/products/brands/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
      </ul>
      <div class="nav-account-sector">
        <div>
          {{#if isAuthenticated}}
            <a class="nav-account ms-2" href="/accounts/{{user.id}}/orders">My Account</a>
            <a class="nav-logout ms-2" href="/logout">Logout</a>
          {{else}}
            <a class="nav-signin ms-2" href="/signin">Sign In</a>
          {{/if}}
          <a class="nav-cart" href="/cart">
            Cart({{#if user}}{{arrayLength user.Cart.CartItems}}{{else}}{{arrayLength guestCart}}{{/if}})
          </a>
        </div>
        <div class="search-dropdown dropdown nav-search ms-2">
          <a class="" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <ul class="dropdown-menu w-50" aria-labelledby="searchDropdown">
            <form action="/products/search">
              <div class="input-group">
                <input type="text" name="query" class="form-control search-input ms-3">
                <div class="input-group-append">
                  <button class="btn" type="submit" id="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>