<div class="container">
  {{> navbar}}
  <div class="row mb-5">
    <div class="col-md-7">
      <img class="img-responsive center-block mb-5 w-100" src="{{product.image}}"
        style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-5">
      <p class="mt-3">
        <div class="d-flex">
          <strong class="me-5">{{product.name}}</strong>
          {{#if isFavorited}}
            <form action="/favorite/{{product.id}}?_method=DELETE" method="POST">
              <button type="submit" class="favorite-button text-danger m-1"><i class="fa-solid fa-heart"></i></button>
            </form>
          {{else}}
            <form action="/favorite/{{product.id}}" method="POST">
              <button type="submit" class="favorite-button text-secondary m-1"><i class="fa-solid fa-heart"></i></button>
            </form>
          {{/if}}
        </div>
      </p>
      <p>NT$ {{product.price}}</p>
      <p>Brand：{{product.Brand.name}}</p>
      <p>
        <form action="/cart/{{#if user}}{{user.id}}{{else}}0{{/if}}" method="post">
          <input type="hidden" name="productId" value="{{product.id}}">
          <input type="hidden" name="price" value="{{product.price}}">
          <div class="mb-3">
            <label class="form-label" for="size">尺寸</label>
            <select class="form-select" name="size" id="size">
              {{#ifContains stocks 'S'}}<option value="S">S</option>{{/ifContains}}
              {{#ifContains stocks 'M'}}<option value="M">M</option>{{/ifContains}}
              {{#ifContains stocks 'L'}}<option value="L">L</option>{{/ifContains}}
              {{#ifContains stocks 'XL'}}<option value="XL">XL</option>{{/ifContains}}
              {{#ifContains stocks 'Free'}}<option value="Free">Free</option>{{/ifContains}}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="quantity">數量</label>
            <input class="form-control" name="quantity" id="quantity" type="number" value="1" min="1">
          </div>
          <button type="submit" class="btn btn-secondary mt-3">Add to Cart</button>
        </form>
      </p>
      <p>
        Description
        <br>
        {{product.description}}
      </p>
    </div>
    <hr>
  </div>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>
