<div class="container">
  {{> navbar}}
  <div class="row mb-5">
    <div class="col-md-7">
      <img class="img-responsive center-block mb-5 w-100" src="{{product.image}}"
        style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-5">
      <p class="mt-3"><strong>{{product.name}}</strong></p>
      <p>NT$ {{product.price}}</p>
      <p>Brand：{{product.Brand.name}}</p>
      <p>
        <form {{#if user}}action="/cart/{{user.id}}"{{else}}action="/cart/0"{{/if}} method="post">
          <input type="hidden" name="productId" value="{{product.id}}">
          <input type="hidden" name="price" value="{{product.price}}">
          <div class="mb-3">
            <label class="form-label" for="size">尺寸</label>
            <select class="form-select" name="size" id="size">
              {{#each product.Stocks}}
                <option value="{{this.size}}">{{this.size}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="quantity">數量</label>
            <input class="form-control" name="quantity" id="quantity" type="text" value="1">
          </div>
          <button type="submit" class="btn btn-secondary mt-3">Add to Cart</button>
        </form>
      </p>
      <p>
        Description
        <br>
        {{product.description}}
      </p>
    </div>
    <hr>
  </div>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>
